<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Brasileirão 2020 - Pré-alpha</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<nav class="green darken-4">
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Brasileirão 2020</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'classificacao' %}">Classificação</a></li>
                <li><a href="{% url 'rodadas' %}">Rodadas</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-5">
    {% block conteudo %}

    {% endblock conteudo %}
</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>